body {
    background-color: black;
}

.plus, .minus, .multiply, .devide, .input, .result, .zero, .one, .two, .three,.four, .five, .six, .seven, .eight,.nine, .clear{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}